@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* shared styles */
/* .font-size 18 */
.font-size-18{
    font-size: 18px;
    font-weight: 500;
}

.font-size-16{
    font-size: 16px;
    font-weight: 500;
}

.display-flex{
    display: flex;
}

/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}

/* yellow color */
.yellow-color{
    background-color: #FF900E;
    color: #ffffff;
}

.color-yellow{
    color: #FF900E;
}
/* header styles */


/* navbar related styles */
.navbar{
    justify-content: space-between;
}

.nav-links, a{
    gap: 36px;
    text-decoration: none;
}

.nav-item{
    list-style: none;
}

.navbar, .banner{
    /* max-width: 1920px; */
    /* margin: 0 auto; */
    padding: 0px 60px 0 60px;
    align-items: center;
}

.brand{
    font-size: 2rem;
    /* font-weight: 700; */
}

.banner{
    /* margin: 0 auto; */
    text-align: center;
}

.brand-title{
    font-size: 3.5rem;
    /* font-weight: 700; */
}

.brand-description, .brand-title {
    width: 868px;
    margin: 0 auto;
    padding-bottom: 2rem;
    /* line-height: auto; */
}

.btn{
    border: none;
    border-radius: 8px;
    width: 11.4rem;
    height: 4rem;
    margin-bottom: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.2rem 1.4rem;
    color: #ffffff;
    cursor: pointer;
}

.banner img{
    max-width: 1440px;
    width: 100%;
    margin-bottom: 2.8rem;
}

.our-features{
    display: flex;
    padding-left: 3.6rem;
    padding-right: 2rem;
    margin-top: 5.2rem;
}

.grid-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1.4rem;
}

.our-features-container{
    width: 38.4rem;
    margin-top: 12rem;
    margin-left: 4.3rem;
}

.our-features-title{
    font-size: 2.3rem;
    /* font-weight: 700; */
}

.margin-top{
    margin-top: 1rem;
}

.enjoying-features{
    /* max-width: 1920px; */
    /* max-width: 1440px; */
    display: flex;
    margin: 130px 21px;
}

.enjoying-features-title{
    border-left: 5px solid #FF900E;
    padding-left: 0.8rem;
}

.enjoying-features-description {
    line-height: 1.5rem;
}

.card{
    width: 450px;
    height: 140px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 0.1rem 0.4rem 2.9rem 1.9rem;
    border-radius: 8px;
    margin-bottom: 1.25rem;
}

.card-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.card-description{
    /* width: 514px; */
    line-height: 1.5rem;
}

.architect img{
    width: 600px;
    height: 849px;
    margin-left: 90px;
    margin-top: 30px;
    border-radius: 8px;
    /* size: 6em; */
}

.experience{
    width: 144px;
    height: 45px;
    background-color: #FF900E;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    padding: 40px 30px;
    margin-top: -172px;
    margin-left: 5px;
    
}

.ep{
    font-size: 2rem;
    font-weight: 700;
}

.ex{margin-top: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.border-none{
    border: none;
    /* width: 330px;
    height: 200px;
    box-shadow: none; */
}

.facts{
    margin-left: 30px;
    margin-top: 130px;
}

.facts-container{
    width: 542px;
}

.facts-container h3{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.facts-card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
}

.facts-card .icon{
    border: 1px solid #FF900E;
    border-radius: 8px;
    /* padding: 45px 35px 59px; */
    padding-bottom: 20px;
    text-align: center;
}

.facts-card .icon img{
    width: 45px;
    padding: 45px 98px 0 98px;
}

.text h1{
    font-size: 45px;
    font-weight: 600;
    margin: 10px 0 5px;
}

.text p{
    font-size: 20px;
    font-weight: 600;
}

.sponsors{
    text-align: center;
    margin-top: 180px;
}

.sponsors-container{
    margin-bottom: 50px;
}

.sponsors-container h1{
    font-size: 45px;
    font-weight: 700;
}

.sponsors-logo img{
    /* padding-left: 154px; */
    padding: 30px;
    filter: grayscale(5);
}

footer{
    max-width: 1920px;
    width: auto;
    height: 100px;
    text-align: center;
    background-color: #FFF4E7;
    margin: 0 auto;
    border-radius: 8px;
}

footer p{
    padding-top: 39px;
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width:576px) {
    .navbar, .banner{
        padding: 0px 5px 0 5px;
    align-items: center;
    }
    .brand{
        font-size: 1rem;
    }
    .nav-links, a {
    gap: 25px;}
    .font-size-18 {
    font-size: 8px;}
    .brand-title {
    font-size: 1.5rem;}
    title {
        max-width: 576px;
    width: 480px;}
    .brand-title {
        max-width: 576px;
    width: 480px;
    margin: 0 auto;
    padding-bottom: 0.6rem;}
    .brand-description, .brand-title {
        max-width: 576px;
    width: 255px;}
    .font-size-16 {
    font-size: 5px;}
    .brand-description{
    padding-bottom: 1.25rem;}
    .btn {
    border: none;
    border-radius: 8px;
    width: 7.4rem;
    height: 3rem;
    margin-bottom: 50px;
    font-size: 0.6rem;}
    .banner img{
    margin-bottom: 1.8rem;}
    .grid-img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.6rem;}
    .our-features-container {
    width: 10.4rem;
    margin-top: 20rem;
    margin-left: 0.6rem;}
    .our-features {
    flex-direction: column;
    padding-left: 4.5rem;
    /* padding-right: 2rem; */
    margin-top: 3.2rem;}
    .our-features-title {
    font-size: 1.3rem;}
        .our-features-container{
        width: 24.4rem;
        margin-top: 2rem;
        margin-left: -0.4rem;
    }
    .enjoying-features {
    /* max-width: 1920px; */
    /* max-width: 1440px; */
    max-width: 576px;
    flex-direction: column;
    margin: 60px 0px;}
    .enjoying-features-description {
    line-height: 15px;
    font-size: 10px;}
    .card-description {
    /* width: 514px; */
    max-width: 576px;
    line-height: 15px;
    font-size: 10px;}
    .card {
        max-width: 576px;
    width: 365px;
    height: 103px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: .1rem 0.4rem 2.9rem 1.9rem;
    border-radius: 8px;
    margin-bottom: 1.25rem;
    margin-left: 55px;}
    .architect img {
        max-width: 576px;
    width: 400px;
    height: 649px;
    margin-left: 55px;}
    .experience {
    width: 125px;
    height: 38px;
    background-color: #FF900E;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    padding: 29px 2px;
    margin-top: -172px;
    margin-left: 3px;}
    .ep {
    font-size: 1.4rem;}
    .ex {
    margin-top: 5px;
    font-size: 10px;}
    .facts-container h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0px;}
    .facts-container p{
        font-size: 7px;
    }
    .facts {
    margin-left: 1px;}
    .facts-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    margin-top: 65px;}
    .facts-card .icon {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 0px 0px 0px;
    padding-bottom: 20px;
    text-align: center;}
    .text h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 0px 0 0px;}
    .text p {
    font-size: 10px;}
    .sponsors-container h1 {
    font-size: 32px;}
    .sponsors-container p{
        font-size: 9px;
    }
    .sponsors-logo img {
    /* padding-left: 154px; */
    padding: 20px;}
    footer {
        max-width: 576px;
    width: 400px;
    height: 65px;
    text-align: center;
    background-color: #FFF4E7;
    margin: 20px 40px 65px;}
    footer p {
    padding-top: 27px;
    font-size: 11px;
    font-weight: 400;}
}